---
#Add "layout: compress" here to compress the html code
---
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
{% include head.html %}
<script>
  function updateProgressBar() {
    const progressBar = document.getElementById('progress-bar');
    if (progressBar) {
      const scrollHeight = document.documentElement.scrollHeight - window.innerHeight;
      const scrollTop = window.scrollY;
      const progress = (scrollTop / scrollHeight) * 100;
      progressBar.style.width = progress + '%';
    }
  }
  // Listen for scroll events and update the progress bar
  window.addEventListener('scroll', updateProgressBar);
  // Call the function initially to set the progress bar's initial width
  updateProgressBar();
</script>

<body>
  <!-- progress bar -->
  <style>
  #progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px; /* Adjust the height of the progress bar */
    background-color: rgb(0, 141, 146); /* Background color of the progress bar container */
    z-index: 1000; /* Ensure it's above other elements */
  }
  
  #progress-bar {
    height: 100%;
    width: 0;
    background-color: #00ff04; /* Color of the progress bar */
    transition: width 0.3s; /* Smooth animation for progress */
  }
  </style>
  <div id="progress-container">
    <div id="progress-bar"></div>
  </div>
  <article class="resume-wrapper text-center position-relative">
    <div class="resume-wrapper-inner mx-auto text-left bg-white shadow-lg">
      {% include header.html %}
      <div class="resume-body p-5">
        {% include summary.html %}
        <div class="row">
          <div class="col-lg-9">
              {% include experience.html %}
              <div class="image-container-row">
                <img src="{{ site.baseurl }}/assets/images/NR.png" style="max-width: 65px; margin-bottom: 25px;" alt="NR">
                <img src="{{ site.baseurl }}/assets/images/FIRST.png" style="max-width: 100px; margin-bottom: 25px;" alt="FIRST">
                <img src="{{ site.baseurl }}/assets/images/HHSPirates.png" style="max-width: 60px; margin-bottom: 25px;" alt="HHS"><br>
              </div>
              <div class="image-container"> <!-- styled in _image.scss -->
                <img src="{{ site.baseurl }}/assets/images/2223FRCCoA-NRMentor.png" class="image" alt="2223FRCMentor">
              </div>
          </div>
          <div class="col-lg-3">
              {% include skills.html %}
              {% include education.html %}
              {% include awards.html %}
              {% include language.html %}
              {% include interests.html %}
          </div>
        </div>

        {% include projects.html %}
        
        <!--//row-->
        <style>
        div.canvas-container {
          margin-bottom: 50px; /* Adjust the margin value as needed */
        }
        </style>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <div class="centered">
          <div class="canvas-container"><canvas id="designskillset"></canvas></div><br/>
          <div class="canvas-container"><canvas id="controlsskillset"></canvas></div><br/>
          <div class="canvas-container"><canvas id="softskillset"></canvas></div><br/>
          <div class="canvas-container"><canvas id="frontendskillset"></canvas></div><br/>
          <div class="canvas-container"><canvas id="backendskillset"></canvas></div><br/>
          <script type="module" src="{{ site.baseurl }}/src/designskillset.js"></script>
          <script type="module" src="{{ site.baseurl }}/src/controlsskillset.js"></script>
          <script type="module" src="{{ site.baseurl }}/src/softskillset.js"></script>
          <script type="module" src="{{ site.baseurl }}/src/frontendskillset.js"></script>
          <script type="module" src="{{ site.baseurl }}/src/backendskillset.js"></script>
        </div>
      </div>
    </div>
  </article>
  {% include footer.html %}
</body>
</html>
